@using FlywayAirlines
@model Passenger


<caption>Passenger details</caption>
<hr />
<div>
    <ul class="list-group">

        <li class="list-group-item "><b>Firtsname</b> : @Model.getFirstName()</li>
        <li class="list-group-item "><b>Lastname</b> : @Model.getLastName()</li>
        <li class="list-group-item "><b>Gender</b> : @Model.getGender()</li>
        <li class="list-group-item "><b>Address</b> : @Model.getAddress()</li>
        <li class="list-group-item "><b>Phone Number</b> : @Model.getPhoneNumber()</li>
        <li class="list-group-item "><b>Email</b> : @Model.getEmail()</li>
        <li class="list-group-item "><b>Date of Birth</b> : @Model.getDateOfBirth()</li>
        <li class="list-group-item "><b>Booking ID</b> : @Model.getBookingid()</li>
    </ul>

</div>

<a asp-area="" asp-controller="Booking" asp-action="Display">Back to Booking List</a>

