@using FlywayAirlines
@model Aircraft




    
<div>
    <ul class="list-group">
            
        <li class="list-group-item "><b>Registration Number</b> : @Model.getRegistrationNumber()</li>
        <li class="list-group-item "><b>Type</b> : @Model.getType()</li>
        <li class="list-group-item "><b>Capacity</b> : @Model.getCapacity()</li>
        <li class="list-group-item "><b>Manufacturer</b> : @Model.getManufacturer()</li>
        <li class="list-group-item "><b>Cruise Speed (km/hr)</b> : @Model.getCruiseSpeed()</li>
    </ul>
        
</div>

    <h4>Are you sure you want to delete this aircraft?</h4>


<form method="post">
    
    
    <div class="form-group">
        <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
    </div>|
    <a asp-area="" asp-controller="Aircraft" asp-action="Display">Back to Aircraft List</a>

</form>