@using FlywayAirlines
@model List<Aircraft>

    <caption>List of Aircrafts</caption>
    


    <hr />

    <table class="table  table-bordered table-striped table table-dark table-hover">
       
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Type</th>
                <th>Capacity</th>
                <th>Manufacturer</th>
                <th>Cruise Speed(km/hr)</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Aircraft aircraft in Model)
            {
            <tr>
                <td> @aircraft.getId() </td>
                <td> @aircraft.getName() </td>
                <td> @aircraft.getRegistrationNumber() </td>
                <td> @aircraft.getType() </td>
                <td> @aircraft.getCapacity() </td>
                <td> @aircraft.getManufacturer() </td>
                <td> @aircraft.getCruiseSpeed() </td>
                <td> <a href="/aircraft/Details/@aircraft.getId()">Details</a> </td>
                <td> <a href="/aircraft/Edit/@aircraft.getId()">Edit</a> </td>
                <td> <a href="/aircraft/Delete/@aircraft.getId()">Delete</a> </td>
            </tr>
            }
        </tbody>
    </table>
    <p><a asp-area="" asp-controller="Aircraft" asp-action="Create">Add new Aircraft</a></p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
    </div>
    



